# https://python-poetry.org/docs/pyproject/

# PACKAGE

[tool.poetry]
name = "bikes"
version = "0.4.0"
description = "Predict the number of bikes available."
repository = "https://github.com/fmind/mlops-python-package"
authors = ["Médéric HURIER <github@fmind.dev>"]
readme = "README.md"
license = "CC BY"
keywords = ["mlops", "python", "package"]
packages = [{ include = "bikes", from = "src" }]

# SCRIPTS

[tool.poetry.scripts]
bikes = 'bikes.scripts:main'

# DEPENDENCIES

[tool.poetry.dependencies]
python = "^3.12"
cloudpathlib = "^0.17.0"
loguru = "^0.7.2"
omegaconf = "^2.3.0"
pandas = "^2.2.0"
pandera = "^0.18.0"
plotly = "^5.18.0"
pyarrow = "^15.0.0"
pydantic = "^2.5.3"
pydantic-settings = "^2.1.0"
scikit-learn = "^1.4.0"
mlflow-skinny = "^2.10.2"
codecarbon = "^2.3.4"

[tool.poetry.group.dev.dependencies]
invoke = "^2.2.0"
pre-commit = "^3.6.0"

[tool.poetry.group.docs.dependencies]
pdoc = "^13.1.1"

[tool.poetry.group.checks.dependencies]
coverage = "^7.4.1"
mypy = "^1.8.0"
pytest = "^8.0.0"
pytest-cov = "^4.1.0"
pytest-xdist = "^3.5.0"
pandera = { extras = ["mypy"], version = "^0.18.0" }
ruff = "^0.2.2"

[tool.poetry.group.carbons.dependencies]
dash = "^2.15.0"
dash-bootstrap-components = "^1.5.0"
fire = "^0.5.0"

[tool.poetry.group.notebooks.dependencies]
ipykernel = "^6.29.0"
nbformat = "^5.9.2"

# CONFIGURATIONS

[tool.coverage.run]
branch = true
source = ["src"]
omit = ["__main__.py"]

[tool.mypy]
check_untyped_defs = true
ignore_missing_imports = true
plugins = ["pandera.mypy", "pydantic.mypy"]

[tool.pytest.ini_options]
addopts = "--numprocesses='auto'"

[tool.ruff]
fix = true
line-length = 100
target-version = "py312"

[tool.ruff.format]
docstring-code-format = true

[tool.ruff.lint]
select = ["D"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.per-file-ignores]
"tests/*.py" = ["D100", "D103"]

# SYSTEMS

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
